html {
    position: relative;
    min-height: 70%;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0;
    min-height: 80%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 100%;
    max-width: 250px;
    height: auto;
}

@media (min-width: 768px) {
    .sidebar {
        width: 14%;
    }
}

.main-content {
    flex-grow: 1;
    margin: 20px 30px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.navbar-brand {
    font-size: 1.25rem;
}

.btn-outline-light {
    padding: 0.25rem 0.5rem;
}

#toggleSidebar:focus,
#toggleSidebar:active {
    box-shadow: none;
}
#searchButton {
    margin-left: 10px;
    margin-top: 10px;
}
